{% extends "base.html" %}

{% block content %}

<h2 class="text-center mb-4">Report Garbage Spot</h2>


<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">

    <div class="card p-4 shadow-sm">

      <form method="POST" enctype="multipart/form-data">

        <!-- Place Name -->
        <div class="mb-3">
          <label class="form-label">Place Name</label>
          <input type="text" name="place_name" class="form-control" required>
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea name="description" class="form-control" rows="3" required></textarea>
        </div>

        <!-- Latitude -->
        <div class="mb-3">
          <label class="form-label">Latitude</label>
          <input type="number" step="any" name="latitude" class="form-control" required>
        </div>

        <!-- Longitude -->
        <div class="mb-3">
          <label class="form-label">Longitude</label>
          <input type="number" step="any" name="longitude" class="form-control" required>
        </div>

        <!-- Phone -->
        <div class="mb-3">
          <label class="form-label">Mobile Number</label>
          <input type="tel"
                 name="phone"
                 class="form-control"
                 pattern="[0-9]{10}"
                 maxlength="10"
                 placeholder="Enter 10 digit number"
                 required>
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email"
                 name="email"
                 class="form-control"
                 placeholder="example@gmail.com"
                 required>
        </div>

        <!-- Status -->
        <div class="mb-3">
          <label class="form-label">Status</label>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="status" value="cleaned" required>
            <label class="form-check-label text-success">Cleaned ✅</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="status" value="ongoing">
            <label class="form-check-label text-warning">Ongoing 🟠</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="status" value="not_cleaned">
            <label class="form-check-label text-danger">Not Cleaned ❌</label>
          </div>
        </div>

        <!-- Image -->
        <div class="mb-3">
          <label class="form-label">Upload Spot Image</label>
          <input type="file" name="image" class="form-control">
        </div>

        <!-- Submit -->
        <div class="d-grid">
          <button type="submit"
                  class="btn btn-success" >
            Submit Report
          </button>
        </div>

      </form>

    </div>

  </div>
</div>

{% endblock %}