{% extends "base.html" %}

{% block content %}

<h2>{{ spot.place_name }}</h2>

<p><b>Status:</b>
  {% if spot.status == "cleaned" %}
    <span class="badge bg-success">Cleaned</span>
  {% elif spot.status == "ongoing" %}
    <span class="badge bg-warning text-dark">Ongoing</span>
  {% else %}
    <span class="badge bg-danger">Not Cleaned</span>
  {% endif %}
</p>

<p><b>Description:</b> {{ spot.description }}</p>
<p><b>Phone:</b> {{ spot.phone }}</p>

{% if spot.image %}
  <hr>
  <h3>Spot Image:</h3>
  <img src="{{ url_for('static', filename='uploads/' + spot.image) }}" width="450">
{% endif %}

<br><br>
<a href="/map" class="btn btn-secondary">⬅ Back to Map</a>

{% endblock %}